

body{
font-family: Helvetica;
	width: 100%;
	overflow: auto;
	background-color: #FFD4ED;	
}

p {
	font-size: 17px; 
}


.space1 {
	margin-top: 40px;
}

.whitespace {
	padding: 40px;
}


h2{
	
	margin: 0px 0px;
	width: 400px;
}

.clearit {
	clear: both;
}

.center {
	text-align: center;
}

.titletext {
	font-weight: strong;	
}

.floatleft {
	float: left;
	margin-left: 5%;
}
.floatright {
	float: left;
	margin-left: 5%;
	width: 400px;
}
.margins {
	width: 300px;
}

.line1{
	clear: both;
	display: block;
}

.img1 {
	width: 240px;
	height: 160px;
	border: 1px solid black;
	margin-top: 40px;
}

.img2 {
	width: 294px;
	height: 171px;
	border: 1px solid black;
	margin-top: 40px;
}

.img3 {
	height: 180px;
	border: 1px solid black;
	margin-top: 40px;
}

.img4 {
	height: 180px;
	border: 1px solid black;
	margin-top: 40px;
}

.line1{
	padding: 20px;
	border-radius: 10px;
	background: rgba(104, 104, 104, 0.65);
	overflow: auto;
	color: white;
	width: 70%;
	float: center;
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	vertical-align: center;
	border: 1px solid #FF6EED;
}

.line1 p{
	margin-top: 10px;
}

.description{
	padding: 10px;	
	color: rgba(94, 94, 94, .95);
	overflow: auto;
	width: 70%;
	float: center;
	position: relative;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: center;
}


/*Social Media Sidebar Styling*/

li.smbar{
	list-style-type: none;
}

.socialmediabar{
	width: 100px;
	position: fixed;
	left: -20px;
	z-index: 1;
}


/*End of Social Media Bar Styling*/


/*Footer Styling*/

footer{
	width: 100%;
	position: relative;
	bottom: 10px;
	border: 1px solid black;
	text-align: center;
	padding: 10px 0px;
	background-color: #FF6EED;
	overflow: auto;
	font-style: italic;
}

/*End of Footer Styling*/


/*Navbar*/

.navbar{
	display: inline;
	text-decoration: none;
}

nav{
	text-align: center;
	border: 2px solid #7F5977;
	background-color: #7F7F7F;
	opacity: .9;
	padding-top: 10px;
}

li.navbar{
	padding: 10px;
	border: 3px solid #7F5977;
	width: 150px;
	height: 50px;
	text-align: center;
	margin: 0px 30px;
	background-color: #FFFFFF;	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 20px;
 
	/*Gradient*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;

}

ul {
	padding: 10px;
}

ul li a {
	padding: 20px 40px;
	display: block;
}

a.navbar:link {
    color: #7F5977;
}

a.navbar:visited {
    color: #7F5977;
}

li.navbar:hover {
    color: #7F5977;
    width: 200px;
    /*margin: 0px 5px;*/
}

a.navbar:active {
    color: #7F5977;
}
 /*End of Navbar*/










