body{
	font-family: Helvetica;
}



/*Navbar*/

.navbar{
	display: inline-block;
	text-decoration: none;
}

nav{
	text-align: center;
	border: 2px solid #7F5977;
	background-color: #7F7F7F;
	padding-top: 10px;
}

li.navbar{
	padding: 10px;
	border: 3px solid #7F5977;
	width: 150px;
	height: 20px;
	text-align: center;
	margin: 0px 30px;
	background-color: #FFFFFF;	

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
 
	/*Gradient*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;

}

a.navbar:link {
    color: #7F5977;
}

a.navbar:visited {
    color: #7F5977;
}

li.navbar:hover {
    color: #7F5977;
    width: 200px;
}

a.navbar:active {
    color: #7F5977;
}
 /*End of Navbar*/



/*Social Media Sidebar Styling*/

li.smbar{
	list-style-type: none;
}

.socialmediabar{
	width: 100px;
	position: fixed;
	left: -20px;
}


/*End of Social Media Bar Styling*/

img.banner{
	border: 1px solid black;
	float: left;
}

#photobanner{
/*	margin-left: 50px;*/
	padding-left: 10px;
}


/*Footer Styling*/

footer{
	width: 100%;
	position: absolute;
	bottom: 10px;
	border: 1px solid black;
	text-align: center;
	padding: 10px 0px;
	background-color: #FFB2EE;
	overflow: auto;
	font-style: italic;
}

/*End of Footer Styling*/








