
body{
	width: 100%;
	background-image: url("http://g.fastcompany.net/multisite_files/fastcompany/imagecache/1280/fc_files/2009/1139329-the-most-influential-women-in-technology-rotator.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: absolute;
	background-attachment: fixed;
}
.background_image {
		position:relative;
		overflow: hidden;

}

.background_image img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}



/*Navbar*/

.navbar{
	display: inline-block;
	text-decoration: none;
}

nav{
	text-align: center;
	border: 2px solid #7F5977;
	background-color: #7F7F7F;
	padding-top: 10px;
}

li.navbar{
	padding: 10px;
	border: 3px solid #7F5977;
	width: 150px;
	height: 20px;
	text-align: center;
	margin: 0px 30px;
	background-color: #FFFFFF;	

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
 
	/*Gradient*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;

}

a.navbar:link {
    color: #7F5977;
}

a.navbar:visited {
    color: #7F5977;
}

li.navbar:hover {
    color: #7F5977;
    width: 200px;
}

a.navbar:active {
    color: #7F5977;
}
 /*End of Navbar*/



/*Social Media Sidebar Styling*/

li.smbar{
	list-style-type: none;
}

.socialmediabar{
	width: 100px;
	position: fixed;
}
/* Beginning of Facts page. Below nav bar.*/
.title {
	font-size: 49px;
	color:  #999999;
	text-align: center;
	margin-top: 20%;
	position: fixed;
	position: relative;
}
.group {
	position: center;
	width:400px;
	height: 300px;
	float: right;
}

.WT {
	border: solid;
	background-color: #ff77aa;
	height: 500px;
	width: 500px;
	margin-left: 50px;
}
 
/*.middle img{*/
	/*margin: 20px;*/
	/*display: block;*/
	/*clear: both;*/
	/*border-radius: 10px;*/
	/*background: rgba(104, 104, 104, 0.8);*/
	/*border: 1px solid black; */

.p1 {
	font:#ff5588;
	font-size: 28px;
	background-color: #f7f7f7;
	border:solid #ff5588;
	height: 200px;
	width:400px;
	padding: 20px;
	float: both;
}
.p2 {
	font:#ff5588;
	font-size: 28px;
	background-color: #f7f7f7;
	border:solid #ff5588;
	height: 200px;
	width:400px;
	padding: 20px;
	margin-top:4%;
}

.p3 {
	font:#ff5588;
	font-size: 28px;
	background-color: #f7f7f7;
	border:solid #ff5588;
	height: 200px;
	width:400px;
	padding: 20px;
	margin-top:4%;
}
.boyfriend {
	float: right;
}

.list {
	position: center;
	font-size: 20px;
	
}

.p4 {
	font:#ff5588;
	font-size: 28px;
	background-color: rgb(255, 153, 255);
	border:solid #ff5588;
	height: 100px;
	width:100%;
	padding: 10px;
	margin-top: 10%;
}

/*bottom images*/

.top10 {
	margin-right: 20%;
	margin-top: 10%;
	height: 300px;
	width: 300px;

}

.philly {
	margin-right: 20%;
	height: 300px;
	width: 300px;
}

.wti {
	height: 300px;
	width: 300px

}
/*End of Social Media Bar Styling*/





/*Footer Styling*/

footer{
	width: 100%;
	position: relative;
	bottom: 10px;
	border: 1px solid black;
	text-align: center;
	padding: 10px 0px;
	background-color: #FFB2EE;
	overflow: auto;
	font-style: italic;
}










